<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>880654207788-28pma108d0n3al050ak94apa4oukmicb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.880654207788-28pma108d0n3al050ak94apa4oukmicb</string>
	<key>API_KEY</key>
	<string>AIzaSyA9Blezd_avQNeo8N-bGoDBK7fz5UFgADs</string>
	<key>GCM_SENDER_ID</key>
	<string>880654207788</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>toucan.com.toucan</string>
	<key>PROJECT_ID</key>
	<string>toucan-8676b</string>
	<key>STORAGE_BUCKET</key>
	<string>toucan-8676b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880654207788:ios:f09d3103d30c0ef72e7a89</string>
</dict>
</plist>